<nav class="navbar navbar-expand-xl bg-light">
  <div class="container container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Karigari</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="nav-link dropdown" appDropdown>
          <a
            class="dropdown-toggle"
            style="cursor: pointer;"
            role="button"
            routerLink="/jewelry"
          >
            Jewelry<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" (click)="onGoldJewelry()">Gold</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="onSilverJewelry()">Silver</a>
            </li>
            <li>
              <a class="dropdown-item" (click)="onImitationJewelry()"
                >Imitation</a
              >
            </li>
          </ul>
        </li>
        <li>
          <a
            routerLink="/shopping-list"
            class="nav-link"
            style="cursor: pointer;"
            >Shopping List</a
          >
        </li>
        <li>
          <a routerLink="/about" class="nav-link">About</a>
        </li>
        <li>
          <a routerLink="/contact" class="nav-link">Contact</a>
        </li>
      </ul>
    </div>

    <!-- <form class="form-inline">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" />
      <button class="btn" type="submit">Search</button>
    </form> -->
  </div>
</nav>
