<div class="row">
  <div class="col-xs-12">
    <img
      [src]="jewelry.imagePath"
      alt="{{ jewelry.name }}"
      class="img-responsive"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-10">
    <h1>{{ jewelry.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-10">
    <div ngbDropdown class="d-inline-block">
      <button class="btn nav-link" id="dropdownBasic2" ngbDropdownToggle>
        Manage
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <a ngbDropdownItem (click)="onAddToShoppingList()"
          >Add to Shopping List</a
        >
        <a ngbDropdownItem (click)="onEditJewelry()">Edit the jewelry</a>
      </div>
    </div>
  </div>
</div>
